/* CSS Document */



/* meryn.ru index nav */

/* #louise {
	padding: 15px 15px 0 0;
} */

html {zoom: 90%;}

@font-face {
  font-family: webfont;
  src: url(./Fonts/000webfont.ttf);
}


#homecont h1 {
	font-size:16px;
	font-style:normal;
	font-weight:normal;
	padding:0;
	margin:0;
}

	#homecont ul {
	list-style:none;
	margin: 0;
	padding: 0;
}



.msg {
	color:#CC0;
}


/* elie's links */
	/* <!-- COLOR of Text Links --> */
/* a {
COLOR: pink;

} */

a.pink {
COLOR: pink;

}

a.teal {
COLOR: teal;

}

.logo{
	filter: drop-shadow(12px 12px 4px #4444dd);

}

.menu_bg{
	/* background-color:#c4c3c2; */
	width: 15%;
		background-image: url("./Assets/K5.GIF");
		border: 4px double #FF69B4	;
		min-width: 320px;
		box-shadow: 4px 10px 80px 1px pink;
}

.menu{
	/* background-color:#ffffff; */
	background-image: url("./Assets/K4invert.GIF");
	width: 250px;
	border: 4px double #FF69B4;
	overflow: scroll;
  min-width: 240px;


}

.images_bg {
         display: grid;
         height: 100%;

     }

.images{
	/* background-color:#c4c3c2; */
	/* width: 20%; */
		/* background-image: url("/Users/elie/Downloads/HTML_CLIPART/BKGRND/PATTERNS/K5.GIF"); */
		border: 4px double #FF69B4	;
		min-width: 400px;
		box-shadow: 4px 10px 80px 1px pink;
    max-width: 60%;
max-height: 100vh;
margin: auto;
margin-top: 2.5%;

}


.imagesBig{
	/* background-color:#c4c3c2; */
	/* width: 20%; */
		/* background-image: url("/Users/elie/Downloads/HTML_CLIPART/BKGRND/PATTERNS/K5.GIF"); */
		border: 4px double #FF69B4	;
		min-width: 400px;
		box-shadow: 4px 10px 80px 1px pink;
    max-width: 80%;
max-height: 100vh;
margin: auto;
margin-top: 2.5%;

}


.imagesSmall{
	/* background-color:#c4c3c2; */
	/* width: 20%; */
		/* background-image: url("/Users/elie/Downloads/HTML_CLIPART/BKGRND/PATTERNS/K5.GIF"); */
		border: 4px double #FF69B4	;
		min-width: 400px;
		box-shadow: 4px 10px 80px 1px pink;
    max-width: 47%;
max-height: 100vh;
margin: auto;
margin-top: 2.5%;

}

.imagesResize{
	/* background-color:#c4c3c2; */
	/* width: 20%; */
		/* background-image: url("/Users/elie/Downloads/HTML_CLIPART/BKGRND/PATTERNS/K5.GIF"); */
		border: 4px double #FF69B4	;
		min-width: 400px;
		box-shadow: 4px 10px 80px 1px pink;
    max-width: 73%;
    max-height: 100vh;
    margin: auto;
    margin-top: 3%;
}


.button{
    background-color: #ccc;
border-radius: 12px;
font-size: 11px;
}


.email{
	font-size: 15px;
	color: blue;

}

.border{
	border: 2px dotted #000	;
	margin: 15px;

}

#homecont h2 {
	font-size:35px;
	font-style:italic;
	margin:13px 0 0 0 ;
	padding:0;
	color: #ebed8a;

font-family: webfont;
filter: drop-shadow(15px 2px 4px #4444dd);
}

a:hover{
  text-decoration:underline;
	font-style:normal;
	font-weight:bold;
  color: red;

}

body.home {
	/* background-color:#b781de; */
	background-image: url("./Assets/A1purp.GIF");
	animation: filter-animation 8s infinite;
	margin:0;
	padding:0;
	/* width:50%; */
}


body.gallery {
	/* background-color:#b781de; */
	background-image: url("./Assets/A1purp.GIF");
	animation: filter-animation-gallery 6s linear infinite;
	margin:0;
	padding:0;
	/* width:50%; */
}

body.gallerySlow {
	/* background-color:#b781de; */
	background-image: url("./Assets/A1purp.GIF");
	animation: filter-animation-gallery-slow 30s linear infinite;
	margin:0;
	padding:0;
	/* width:50%; */
}

body.gallerySaturate {
	/* background-color:#b781de; */
	background-image: url("./Assets/A1purp.GIF");
	animation: filter-animation-gallery-saturate 9s linear infinite;
	margin:0;
	padding:0;
	/* width:50%; */
}



body.noAnim {
  background-image: url("./Assets/A1purp.GIF");
  margin:0;
  padding:0;
}

body.noBG {
  margin:0;
  padding:0;
}

.sound {
	background: none;
	border: none;
}



/* bottom buttons */
.info{
	position: absolute;
	right:0;
	bottom: 120px;
	margin-right: 30px;
}

 .tandy{
  position: absolute;
  left:10px;
  bottom: 12px;
}


/* top buttons */

/* .info{
  position: -webkit-fixed;
	position: fixed;
	right:0;
	top:0;
  padding: 5px;
}

.tandy{
  position: -webkit-fixed;
	position: fixed;
  left:10px;
  top: 12px;
} */

.stickyBackButton {
  position: -webkit-fixed;
  position: fixed;
  bottom: 0;
right:0;
  padding: 5px;
  /* border: 2px solid #4CAF50; */
}



@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(100deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes filter-animation-gallery {
  0% {
    filter: hue-rotate(0deg);
  }

  15% {
    filter: hue-rotate(0deg);
  }


  60% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes filter-animation-gallery-slow {
  0% {
    filter: hue-rotate(0deg);
  }

  5% {
    filter: hue-rotate(0deg);
  }

  60% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes filter-animation-gallery-saturate {
  0% {
    filter: saturate(1);
  }

  5% {
    filter: saturate(1);
  }

  50% {
    filter: saturate(.8);
  }

  80%{
    filter: saturate(2);
  }

  100% {
    filter: saturate(1);
  }
}


@keyframes dropshadowtest
{
    0%
    {
        filter: drop-shadow(12px 12px 4px rgb(255, 0, 0));
    }
    25%
    {
        filter: drop-shadow(12px 12px 4px rgb(0, 255, 0));
    }
    50% {
      filter: drop-shadow(0 0 5px rgb(0, 0, 255));
    }
    100%
    {
        filter: drop-shadow(12px 12px 4px rgb(255, 0, 0));
    }
}


/* @keyframes opacity
{
    0%
    {
        filter: opacity(100%);
    }

    50% {
      filter: opacity(40%);
    }
    100%
    {
      filter: opacity(100%);
    }
} */

/*
h1 {
	font-style:italic;
	font-size:20px;
}
h2 {
	font-size:44px;
	text-align:center;
	padding:0;
	margin:0;

#welcome {
	float:right;

	}

#marble1 {
	text-align: center;

}





/* Main Nav */
/* ul#nav {
	list-style:none;
	margin:20px 0 40px 65px;
	padding:0;
	text-align:center;
	height:40px;
}
ul#nav li {
	margin:0;
	float:left;
	width:125px;
	border-left:1px #ccc  dotted;
	border-right:1px #ccc  dotted;
}
ul#nav li a {
	text-decoration:none;
	color:#666;
	font-style:italic
} */
